.home-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  .home-container h1 {
    color: #333;
    margin-bottom: 1rem;
  }
  
  .home-container p {
    color: #666;
    line-height: 1.6;
  }

  .home-container a button {
    border-radius: 20px;
    height: 2rem;
    width: 30rem;
    background-color: transparent;
    font-size: 1.2rem;
  }