.navbar {
  background-color: #42b72a;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.menu-button {
  font-size: 1.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  display: none; /* Oculto en pantallas grandes */
}

.brand-title {
  color: white;
  margin-left: 10px;
}

.navbar-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-item {
  font-size: 1.2rem;
}

.navbar-item a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s;
}

.navbar-item a:hover {
  background-color: #36a420;
  border-radius: 4px;
}

/* Estilos para el menú hamburguesa */
@media (max-width: 768px) {
  .navbar-list {
    display: none; /* Ocultar lista por defecto */
    flex-direction: column; /* Cambiar a columna */
    position: absolute; /* Posicionar absolutamente */
    top: 60px; /* Ajustar según el tamaño de la navbar */
    left: 0;
    width: 100%;
    background-color: #42b72a; /* Color de fondo */
  }

  .navbar-list.open {
    display: flex; /* Mostrar lista cuando el menú está abierto */
  }

  .menu-button {
    display: block; /* Mostrar botón en pantallas pequeñas */
  }
}
